@font-face {
    font-family: 'Amiri';
    src: url('fonts/Amiri/Amiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mate_SC';
    src: url('fonts/Mate_SC/MateSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #f9f9f9;
    color: #171717;
    font-family: 'Amiri', 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Amiri';
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

h2 {
    font-family: 'Amiri';
    font-size: 1.8rem; 
    line-height: 40px;
}

h2 a:hover {
    color: #FFD9CD;
}

h3 {
    font-family: 'Roboto';
    font-size: 25px;
}

h3 a:hover {
    color: #FFD9CD;
}

h4 {
    font-family: 'Mate_SC';
    font-size: 20px;
    line-height: 15px;
}

p {
    font-family: 'Amiri';
    font-size: 17px;
    line-height: 1.7rem;
}

p a:hover {
    color: #FFD9CD;
}

a { 
    text-decoration: none;
    color: #F9A78F;
 }

 header {
     text-align: center;
     padding-top: 1rem;
 }

/* MEDIA QUERIES FOR HOME PAGE */

@media (min-width: 1200px) {
.wrapper {
    margin: 1rem 6rem 0rem 6rem;
    }
} 

@media (min-width: 768) {
    .wrapper {
        margin: 1rem 2rem 0rem 2rem
    }
}

/* MEDIA QUERIES FOR OTHER PAGES */
@media (min-width: 1500px) {
.wrapper-blogposts {
    margin: 1rem 22rem 0rem 22rem;
    }
}

@media (min-width: 1300px) {
    .wrapper-blogposts {
        margin: 1rem 18rem 0rem 18rem;
    }
}

@media (min-width: 1200px) {
    .wrapper-blogposts {
        margin: 1rem 14rem 0rem 14rem;
    }
}


/* MOBILE NAV */

.nav__nav-list {
    align-items: center;
    display: flex;
}

.nav__nav-list-item {
    list-style-type: none;
}

.nav__nav-list-link {
    color: #FDC383;
    text-decoration: none;
    padding: 5px 25px;
}

.mobile-nav__nav {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    transition: all .15s ease-in;
    width: 100%;
    z-index: 1000;
}

.mobile-nav__nav--open {
    transform: translateX(0);
    transition: all .15s ease-in;
}

.mobile-nav__nav--closed {
    transform: translateX(100%);
    transition: all .15s ease-in;
}

.mobile-nav__button {
    cursor: pointer;
    display: block;
    max-width: 40px;
    width: 100px;
}

.mobile-nav__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
}

.mobile-nav__nav-list a {
    color: black;
    display: block;
    font-size: 1.3rem;
    text-align: center;
}

.mobile-nav__close-button {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 75px;
    z-index: 1010;
    width: 45px;
}


/* TOP NAV */

 .topnav a {
    color: #FDC383;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
 }

.topnav a:hover {
    color: #F9A78F;
}

 .topnav {
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding-bottom: 2rem;
 }

 .topnav-abroad {
     color: #FDC383;
     font-family: 'Roboto';
     font-size: 25px;
     padding-right: 1rem;
     padding-left: 1rem;
     border: none;
     cursor: pointer;
 }

 .topnav-abroad:hover {
     color: #F9A78F;
 }

/* TOP NAV - DROP DOWN */

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .dropdown-content a:hover {
     color: #F9A78F;
 }

 .dropdown:hover .dropdown-content {
     display: flex;
     flex-direction: column;
     text-align: left;
 }

/* INDEX GRID */

 .grid p {
     max-width: 300px;
 }

 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-areas: "post post post sidebar";
 }

 .grid img {
    margin-top: auto;
}

.posts {
    grid-area: post;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1.5rem;
}

.section {
    width: 31%;
    display: flex;
    flex-direction: column;
}

a.section h2 {
    margin-top: auto;
}

/* LONDON PAGE GRID */

.grid-london p {
    max-width: 300px;
}

.grid-london {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "post post";
}

.grid-london img {
   margin-top: auto;
}

.posts-london {
   grid-area: post;
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem 1.5rem;
}

.section-london {
   width: 31%;
   display: flex;
   flex-direction: column;
}

a.section-london h2 {
   margin-top: auto;
}


/* READ MORE BUTTON */

 a.readmore {
    background-color: #E39F76;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    justify-content: center;
    max-width: 120px;
    margin-top: auto;
    text-align: center;
    font-family: 'Roboto';
}

a.readmore:hover {
    background-color: #F3C9B1;
}

/* MISC. IMAGE */

.next-to-image-text {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: auto;
}

.img-resize {
    max-width: 300px;
    margin: auto;
    width: 100%;
}

.img-resize-hor {
    max-width: 400px;
}

.images {
    margin: auto;
    width: 100%;
    text-align: center;
}

img {
    margin: auto;
    text-align: center;
}

/* ABOUT ME PAGE */

.aboutme p {
    max-width: 300px;
}

.about-me img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about-me-text {
    padding: 1rem;
}

.about-me {
    padding-bottom: 2rem;
}

/* ABOUT ME SECTION ON HOME PAGE */

#about-me-title {
    text-align: center;
    padding-top: .5rem;
}

.sidebar h3 {
    color: white;
    letter-spacing: .2rem;
    text-align: center;
}

.sidebar p {
    padding-bottom: 1rem;
    margin: 0rem 2rem 1rem 2rem;
}

.sidebar img {
    margin: 0 auto;
    display: block;
}

#about-me-title a {
    color: #FFD9CD;
}

#about-me-title a:hover {
    color: white;
}

.about-me-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.1);
    width: 100%
}

.additional-color {
    background-color: #E39F76;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.1);
    width: 100%
}

.sidebar {
    position: relative;
    max-height: 900px;
    margin-left: 1rem;
}

a.readmore-aboutme {
    background-color: #F3C9B1;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    justify-content: center;
    max-width: 140px;
    text-align: center;
    font-family: 'Roboto';
    margin: 0rem 2rem 0rem 2rem;
}

a.readmore-aboutme:hover {
    background-color: #FDC383;
}

/* FOOTER */

footer {
    background-color: #f2f2f2;
    margin-top: 1rem;
}

footer a {
    font-size: 1.2rem;
}

footer a:hover {
    color: #e07b3b;
}

footer {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.ft-title {
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.ft-title a {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
}

.ft-main {
    padding: 1.25rem 3.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ft-main-item {
    padding: 1rem 2rem;
    min-width: 12.5rem;
    text-align: left;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #c7c7c7;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}

/* BLOG POSTS */

.wrapper-blogposts {
    padding: 0rem 1rem;
}

.post-intro {
    padding-bottom: 2rem;
}

.post-heading {
    padding-bottom: 2rem;
}

.post-main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* AMSTERDAM PAGE */

#amsterdam-text {
    padding: 1rem;
}

/* BARCELONA PAGE */

#barcelona-text {
    padding: 4rem 2rem 2rem 2rem;;
}

#barcelona-start {
    padding-top: 2rem;
}

/* PARIS PAGE */

#paris-text {
    padding: 10rem 2rem 8rem 2rem;
}

/* TOP NAV MEDIA QUERIES */


@media screen and (max-width: 700px) {
    .topnav {
        display: none;
    }

    .logo {
        display: flex;
        flex-direction: column;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .wrapper {
        margin: 1rem 2.5rem 0rem 2.5rem;
    }

    .about-me-image {
        max-width: 275px;
    }
}

@media screen and (min-width: 700px) {

    /* Hide our mobile nav, show our desktop nav */

    .mobile-nav {
        display: none;
    }

    .post-main-img {
        float: left;
        max-width: 300px;
    }

    #amsterdam-text {
        padding-bottom: 4rem 2rem 8rem 2rem;
    }
    
    #amsterdam-brunch {
        padding-top: 8rem;
    }

    .aboutme p {
        max-width: 300px;
    }
    
    .about-me img {
        float: left;
    }
    
    #about-me-text {
        padding: 2rem;
    }

    .aboutme p {
        max-width: 300px;
    }
    
    .about-me img {
        float: left;
    }
    
    #about-me-text {
        padding: 2rem;
    }

    .about-me {
        padding-bottom: 6rem;
    }

}
/* GRID MEDIA QUERIES */

@media screen and (max-width: 1100px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "post post sidebar";
    }
   .section {
       width: 46.5%;
   }

   .sidebar {
       width: 100%;
   }
}

@media screen and (max-width: 700px) {
    .grid {
        display: block;
    }
   .section {
       width: 100%;
   }
   .sidebar {
       width: 100%;
   }
}

/* FOOTER MEDIA QUERIES */

@media only screen and (min-width: 320px) {
    /*.ft-main {
        justify-content: space-around;
    }*/
    .ft-main-item {
        padding: 0rem;
    }
    .sidebar {
        margin-left: 0rem;
        margin-top: 6rem;
    }

    .additional-color {
        transform: scaleY(1.1);
    }

    .about-me-background {
        transform: scaleY(1.1);
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}
